# To create or update a token visit https://envio.dev/app/api-tokens
ENVIO_API_TOKEN="<YOUR-API-TOKEN>"
ENVIO_RPC_URL_0=
ENVIO_RPC_URL_1=
ENVIO_RPC_URL_2=
ENVIO_RPC_URL_3=
ENVIO_RPC_URL_4=
ENVIO_RPC_URL_5=
UPDATER_CONTRACT=
TEST_PRIVATE_KEY=
SEP_RPC=