body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0f0e1b;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: white;
}

.controls {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}

.controls h2 {
  font-size: 1.5rem;
  margin: 0;
}

.controls p {
  margin: 4px 0;
  font-size: 0.9rem;
  opacity: 0.8;
}
